*.class

# Package Files #
#*.jar
*.war
*.ear
/nbproject/private/
/build/
#/dist/
git-remote-https.exe.stackdump
dist/wikipedia.jar
dist/wikipedia.jad
dist/nbrun6062280066736825670/wikipedia.jar
dist/nbrun6062280066736825670/wikipedia.jad
dist/memprof/wikipedia.jar
dist/memprof/wikipedia.jad
